header {
  background-color:gray;
  height:125.3141592653598px;
}
article {
  background-color: gainsboro
;

}

footer {
    background-color:slategrey;
  }

  body {
    margin-left: 10vw;
    margin-right: 10vw;
  
  }